name: Run unit tests

on:
  workflow_call:
    inputs:
      ref:
        type: string
        default: ''
        required: true

permissions:
  contents: read
  pull-requests: read

jobs:
  unit-test:
    name: unit-test
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-22.04
          - arch: arm64
            runner: ubuntu-22.04-arm

      fail-fast: false
    continue-on-error: true

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: '1.24.1'
          cache: false

      - name: Run unikontainers pkg unit tests
        run: make unittest

